extends ../layout

block content

    if message
        div.alert.alert-danger
            = message

    form#Login(action="/forgotPassword" method="post")
        input#email(type="hidden" name="email" value=user ? user.email:'')        
        .form-group
            input#email.form-control(type="email" placeholder="Correo Electronico" name="email")
        .forgot
            a(href="/login") Ingreso
        
        button.btn.btn-primary(type="submit") Restablecer