extends ../layout

block content

    if message
        div.alert.alert-danger
            = message

    form#Login(action="/resetPassword" method="post")
        input#email(type="hidden" name="email" value=user.email)        
        .form-group
            input#password.form-control(type="password" placeholder="Contraseña" name="password")
        .form-group
            input#confirmPassword.form-control(type="confirmPassword" placeholder="Confirmar Contraseña" name="confirmPassword")
        .forgot
            a(href="/login") Ingreso
        
        button.btn.btn-primary(type="submit") Restablecer